@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  min-width: 600px;
  min-height: 600px;
  max-width: 600px;
  max-height: 600px;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

html::-webkit-scrollbar, body::-webkit-scrollbar {
  display: none;
}
